@model iCollab.ViewModels.ProfileViewModel

<div class="box">
    <div class="box-body">
         
        <div class="info-box">
            <span class="info-box-icon bg-aqua">
                @if (Model.Attachment != null)
                {
                    <img src="@Model.Attachment.Path" class="img-responsive img-rounded" height="100" />
                }
            </span>
            <div class="info-box-content">
                @using (Html.BeginForm("UploadPicture", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <label for="file">Fotoğraf Yükle:</label>
                    <input type="file" name="file" id="file" style="width: 100%;" />
                    <input type="submit" value="Yükle" class="btn btn-default" />
                }
            </div>

        </div>
         
    </div>
</div>
