@model iCollab.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
 
<aside class="right-side">
    <section class="content-header">
        <h1>
            Profil Bilgileri
        </h1>
    </section>
    <section class="content">
        @Html.Partial("_ChangePasswordPartial")
        @{ Html.RenderAction("AccountDetails", "Account");}

    </section>
</aside>
