@{
    ViewBag.Title = "Kaldırılan Görevler";
}

<aside class="right-side">
    <section class="content-header">
        <h1>Hata</h1> 
    </section>

    <section class="content">
        <div class="error-page">
            <div class="error-content">
                <h3><i class="fa fa-warning text-yellow"></i> Dikkat! İlk önce kullanıcının oluşturduğu proje ve görevleri silmelisiniz.</h3>
            </div>
        </div>
    </section>
</aside> 