@model IEnumerable<Model.Meeting>
           
@if (Model != null)
{
    if (Model.Any() == false)
    {
        <div class="callout callout-info">
            Size ait bir toplantı yok. Yeni bir toplantı oluşturmak için :
            @Html.ActionLink("Yeni toplantı", "Create", "Meetings", null, new { @class = "btn btn-sm btn-primary" })
        </div>
    }
    else
    {
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th style="width: 100px;">Tarih</th> 
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(item.Title, "View", "Meetings", new { id = item.Id }, null)</td>
                        <td>@Html.DisplayFor(modelItem => item.DateCreated)</td> 
                    </tr>
                }
            </tbody>
        </table>
    }
}

