@model iCollab.ViewModels.AppUserViewModel

<aside class="main-sidebar"> 
    <section class="sidebar"> 
        <div class="user-panel">
            <div class="pull-left image">
                @if (Model.Picture != null)
                {
                    <img src="@Model.Picture.Path" class="user-image" alt="User Image" />
                }
                else
                {
                    <img src="/Assets/dist/img/sb.png" class="user-image" alt="User Image" />
                } 
            </div>
            <div class="pull-left info">
                <p><a href="/Manage/Index">@Model.UserName</a></p> 
            </div>
        </div> 

        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..." />
                <span class="input-group-btn">
                    <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form> 

        <ul class="sidebar-menu"> 
            <li id="Dashboard">
                <a href="/Dashboard/Index"> <i class="fa fa-th"></i> Kontrol Paneli</a>
            </li>
            <li id="Projects">
                <a href="/Projects/Index"> <i class="fa fa-tasks"></i> Projeler</a>
            </li>
            <li id="Tasks">
                <a href="/Tasks/Index"> <i class="fa fa-bars"></i> Görevler</a>
            </li> 

           @* <li id="Tasks">
                <a href="/Gantt/Index"> <i class="fa fa-bars"></i> Gantt</a>
            </li>*@
            <li>
                <a href="/Tasks/ViewCalendar"> <i class="fa fa-calendar"></i> Takviminiz</a>
            </li>
            <li id="Documents">
                <a href="/Documents/Index"> <i class="fa  fa-book"></i> Dökümanlar</a>
            </li>
            <li id="Meetings">
                <a href="/Meetings/Index"> <i class="fa fa-exchange"></i> Toplantılar</a>
            </li> 
            <li id="Users">
                <a href="/Users/Index"> <i class="fa fa-user"></i> Kullanıcılar</a>
            </li> 
        </ul>
    </section> 
</aside>


<script>
    $(document).ready(function () {
        $('#@ViewBag.Active').addClass('active');
    });
</script> 
 