@{
    ViewBag.Title = "E-postanızı doğrulayın.";
}

<div class="login-box">
    <div class="login-logo">
        <br />
        <a href="/"><b>dev</b></a>
    </div>
    <div class="login-box-body">
        <h2>@ViewBag.Title.</h2>
        <div>
            <p>
                E-postanızı doğruladınız. Giriş yapmak için 
                @Html.ActionLink("buraya tıklayın.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div> 
    </div>
</div> 
