@{
    ViewBag.Title = "Şifre değişikliği";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
} 
<div class="login-box">
    <div class="login-logo">
        <br />
        <a href="/"><b>dev</b></a>
    </div>
    <div class="login-box-body">
        <h2>@ViewBag.Title.</h2>
        <div>
            <p>
                Parolanızı sıfırlamak için e-postanızı kontrol ediniz.
            </p>
        </div>
    </div>
</div> 
	
