@model iCollab.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Şifrenizi mi unuttunuz ?";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
  
<div class="login-box">
    <div class="login-logo">
        <br />
        <a href="/"><b>dev</b></a>
    </div>
    <div class="login-box-body">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        { 
            <strong>Şifrenizi sıfırlayın.</strong>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Email Link" />
                </div>
            </div>
        }

        <br />
        <a href="/Account/Login">Giriş yapın</a>
    </div>
</div> 
