@model iCollab.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Şifrenizi mi unuttunuz ?";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
  
<div class="login-box">
    <div class="login-logo">
        <br />
        <a href="/"><b>dev</b></a>
    </div>
    <div class="login-box-body">
        Hesabınız için kullanılan token expire olmuş yada önceden kullanılmış.
        <br />
        <a href="/Account/ForgotPassword">Şifrenizi sıfırlayın</a>
    </div>
</div> 
