@model IPagedList<Model.Project>
@{
    ViewBag.Title = "Aktif Projeler";
}
@using Model
@using PagedList.Mvc;
@using PagedList;

<aside class="right-side">

    <section class="content-header">
        <h1>Aktif Projeler</h1> 
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        @Html.Partial("_ProjectMenu")

                        <div class="pull-right" style="margin:10px;">
                            <label class="label label-info">@Model.TotalItemCount Proje</label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    
                    @if (Model != null && Model.Any())
                    {
                        { Html.RenderPartial("_ProjectTable", Model); }
                    }
                    else
                    {
                        <div class="callout callout-info">
                            Aktif bir proje yok.
                        </div>
                    } 
                     

                    <div class="box-footer">
                        @Html.PagedListPager(Model, page => Url.Action("ActiveProjects", "Projects", new { page }))
                    </div>
                </div>
            </div>
        </div>
    </section>
</aside>

