@{
    ViewBag.Title = "ProjectCreated";
    Layout = "~/Views/Mailer/_Layout.cshtml";
}

<strong>@ViewBag.Project.Title</strong><br />

Projeye yeni bir toplantı eklendi. <br /><br />

<strong>Toplantı :</strong> @ViewBag.Meeting.Title
<br />
<br />

Daha fazlası için: <a href="http://dev.saglik.gov.tr/Projects/View/@ViewBag.Project.Id">@ViewBag.Project.Title</a> <br />

