@{
    ViewBag.Title = "Görev silindi";
    Layout = "~/Views/Mailer/_Layout.cshtml";
}

<strong>@ViewBag.Task.Title</strong><br /> görevi silindi. <br /><br />
 
Daha fazlası için: <a href="http://dev.saglik.gov.tr/Tasks/View/@ViewBag.Task.Id">@ViewBag.Task.Title</a> <br />