@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Hata"; 
} 
  
<aside class="right-side">
    <section class="content-header">
        <h1>Bir hata oluştu!</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Kontrol Paneli</a></li>
        </ol>
    </section>

    <section class="content">
        <div class="error-page">
            <div class="error-content">
                <h1 class="text-danger">Hata.</h1>
                <h2 class="text-danger">İsteğiniz bulunamadi.</h2>
            </div>
        </div>
    </section>
</aside> 