<div class="pull-left" style="margin:10px;">
    <a class="btn btn-primary" href="/Tasks/CreateTask"><i class="fa fa-inbox"></i> Yeni Gorev</a>
    <a class="btn btn-danger" href="/Tasks/Index"><i class="fa fa-inbox"></i> Tüm Görevler</a>
    <a class="btn btn-danger" href="/Tasks/My"><i class="fa fa-inbox"></i> Görevlerim</a>
    <a class="btn btn-danger" href="/Tasks/ByMe"><i class="fa fa-inbox"></i> Oluşturdugum Görevler</a>
    <a class="btn btn-success" href="/Tasks/CompletedTasks"><i class="fa fa-inbox"></i> Tamamlanan Görevler</a>
    <a class="btn btn-success" href="/Tasks/LateTasks"><i class="fa fa-inbox"></i> Geciken Görevler</a>
</div>