<aside class="right-side">

    <section class="content-header">
        <h1>Gantt</h1>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                     @(Html.Kendo().Gantt<iCollab.ViewModels.Gantt.GanttTaskViewModel, iCollab.ViewModels.Gantt.DependencyViewModel>()
                        .Name("Gantt")
                        .DataSource(ds => ds
                            .Read(read => read
                                .Action("Tasks", "Tasks")
                            )
                            .Model(m =>
                            {
                                m.Id(f => f.TaskID);
                                m.ParentId(f => f.ParentID);
                                m.OrderId(f => f.OrderId);
                                m.Field(f => f.Expanded).DefaultValue(true);
                            })
                        )
                        .DependenciesDataSource(ds => ds
                            .Read(read => read
                            .Action("Dependencies", "Tasks")
                            )
                            .Model(m =>
                            {
                                m.Id(f => f.DependencyID);
                                m.PredecessorId(f => f.PredecessorID);
                                m.SuccessorId(f => f.SuccessorID);
                                m.Type(f => f.Type);
                            })
                        )
                    )
                </div>
            </div>
        </div>
    </section>
</aside>
