@model iCollab.ViewModels.QuickReportsViewModel
  
<div class="row">
    <div class="col-lg-2 col-xs-4"> 
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>
                    @Model.ProjectsCount
                </h3>
                <p>
                    Proje
                </p>
            </div>
            <div class="icon">
                <i class="fa fa-th"></i>
            </div>
            <a href="/Projects/Index" class="small-box-footer">
                Daha fazla bilgi için <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div> 
    <div class="col-lg-2 col-xs-4"> 
        <div class="small-box bg-green">
            <div class="inner">
                <h3>
                    @Model.TasskCount
                </h3>
                <p>
                    Görev
                </p>
            </div>
            <div class="icon">
                <i class="fa fa-tasks"></i>
            </div>
            <a href="/Tasks/Index" class="small-box-footer">
                Daha fazla bilgi için <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-2 col-xs-4"> 
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>
                    @Model.UsersCount
                </h3>
                <p>
                    Kullanıcı
                </p>
            </div>
            <div class="icon">
                <i class="fa fa-user"></i>
            </div>
            <a href="/Users/Index" class="small-box-footer">
                Daha fazla bilgi için <i class="fa fa-user"></i>
            </a>
        </div>
    </div>   
    
    <div class="col-lg-2 col-xs-4"> 
        <div class="small-box bg-fuchsia">
            <div class="inner">
                <h3>
                    @Model.MeetingCount
                </h3>
                <p>
                    Toplantı
                </p>
            </div>
            <div class="icon">
                <i class="fa fa-exchange"></i>
            </div>
            <a href="/Meetings/Index" class="small-box-footer">
                Daha fazla bilgi için <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div> 
</div>

