@model IEnumerable<Model.Announcement>

<div class="box box-danger">
    <div class="box-header">
        <i class="fa  fa-bullhorn"></i>
        <div class="box-title">Duyurular</div>
        <div class="pull-right box-tools"> 
            <div class="btn-group">
                <button class="btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i></button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>@Html.ActionLink("Yeni Duyuru", "Create", "Announcements")</li>
                    <li>@Html.ActionLink("Duyurular", "Index", "Announcements")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box-body table-responsive no-padding">
        @if (Model.Any() == false)
        {
            <div class="callout callout-info">
                Henüz bir duyuru yok. Yeni bir duyuru oluşturmak için :
                @Html.ActionLink("Yeni bir duyuru", "Create", "Announcements", null, new { @class = "btn btn-sm btn-primary" })
            </div>
        }
        else
        {
            {Html.RenderPartial("_AnnouncementTable", Model); }
        } 
    </div>
</div>


