<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections> 
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="sharpRepository" type="SharpRepository.Repository.Configuration.SharpRepositorySection, SharpRepository.Repository" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\db.mdf;Integrated Security=True;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="serilog:minimum-level" value="Verbose" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" /> 
    <add key="PageSize" value="18" />
    <add key="FrontEndPageSize" value="8" />
    <add key="EnableCaching" value="true" /> 
    <add key="AnnouncementServerPath" value="~/Attachments/Announcements/" />
    <add key="AnnouncementAccessPath" value="/Attachments/Announcements/" />
    <add key="ProjectServerPath" value="~/Attachments/Projects/" />
    <add key="ProjectAccessPath" value="/Attachments/Projects/" />
    <add key="TaskServerPath" value="~/Attachments/Tasks/" />
    <add key="TaskAccessPath" value="/Attachments/Tasks/" />
    <add key="MeetingServerPath" value="~/Attachments/Meetings/" />
    <add key="MeetingAccessPath" value="/Attachments/Meetings/" />
    <add key="DocumentsServerPath" value="~/Attachments/Documents/" />
    <add key="DocumentsAccessPath" value="/Attachments/Documents/" />
    <add key="ProfileServerPath" value="~/Attachments/Profile/" />
    <add key="ProfileAccessPath" value="/Attachments/Profile/" />
    <add key="EmailDisabled" value="false"/>
  </appSettings>
  <system.web>
    <globalization uiCulture="tr-TR" culture="tr-TR"></globalization>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <sessionState mode="InProc" timeout="90" />
    <httpRuntime maxRequestLength="51200" executionTimeout="300" targetFramework="4.5" />
    <customErrors mode="Off" defaultRedirect="~/Error">
      <error statusCode="404" redirect="~/Error/NotFound" />
      <error statusCode="500" redirect="~/Error/InternalServerError" />
    </customErrors>

    <caching>
      <outputCacheSettings> 
        <outputCacheProfiles>    
          <add name="BadRequest" duration="86400" location="Any" varyByParam="none" /> 
          <add name="Forbidden" duration="86400" location="Any" varyByParam="none" /> 
          <add name="MethodNotAllowed" duration="86400" location="Any" varyByParam="none" /> 
          <add name="NotFound" duration="86400" location="Any" varyByParam="none" /> 
          <add name="Unauthorized" duration="86400" location="Any" varyByParam="none" /> 
          <add name="InternalServerError" duration="86400" location="Any" varyByParam="none" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <system.webServer>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <!--<clientCache cacheControlMode="UseExpires" httpExpires="Fri, 03 Jan 2020 12:00:00 GMT" />-->
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <httpErrors errorMode="Custom" existingResponse="Replace">

      <!-- Redirect IIS 400 Bad Request responses to the error controllers bad request action. -->
      <remove statusCode="400" />
      <error statusCode="400" responseMode="ExecuteURL" path="/error/badrequest" />

      <!-- Redirect IIS 401 Unauthorized responses to the error controllers unauthorized action. -->
      <remove statusCode="401" />
      <error statusCode="401" responseMode="ExecuteURL" path="/error/unauthorized" />

      <remove statusCode="403" />
      <!-- Redirect IIS 403.14 Forbidden responses to the error controllers not found action. 
           A 403.14 happens when navigating to an empty folder like /Content and directory browsing is turned off
           See http://www.troyhunt.com/2014/09/solving-tyranny-of-http-403-responses.html -->
      <error statusCode="403" subStatusCode="14" responseMode="ExecuteURL" path="/error/notfound" />
      <!-- Redirect IIS 403.501 and 403.502 Forbidden responses to a static Forbidden page. 
           This happens when someone tries to carry out a Denial of Service (DoS) attack on your site.
           See http://www.iis.net/learn/get-started/whats-new-in-iis-8/iis-80-dynamic-ip-address-restrictions -->
      <error statusCode="403" subStatusCode="501" responseMode="File" path="error\forbidden.html" />
      <error statusCode="403" subStatusCode="502" responseMode="File" path="error\forbidden.html" />
      <!-- Redirect IIS 403 Forbidden responses to the error controllers forbidden action. -->
      <error statusCode="403" responseMode="ExecuteURL" path="/error/forbidden" />

      <!-- Redirect IIS 404 Not Found responses to the error controllers not found action. -->
      <remove statusCode="404" />
      <error statusCode="404" responseMode="ExecuteURL" path="/error/notfound" />

      <!-- Redirect IIS 405 Method Not Allowed responses to the error controllers method not allowed action. -->
      <remove statusCode="405" />
      <error statusCode="405" responseMode="ExecuteURL" path="/error/methodnotallowed" />

      <remove statusCode="500" />
      <!-- Redirect IIS 500.13 Internal Server Error responses to a static Service Unavailable page. 
           A 500.13 occurs because the web server is too busy. The amount of traffic exceeds the Web site's configured capacity. -->
      <error statusCode="500" subStatusCode="13" responseMode="File" path="error\serviceunavailable.html" />
      <!-- Redirect IIS 500 Internal Server Error responses to the error controllers internal server error action. -->
      <error statusCode="500" responseMode="ExecuteURL" path="/error/internalservererror" />

      <!-- Redirect IIS 503 Service Unavailable responses to a static Service Unavailable page. -->
      <remove statusCode="503" />
      <error statusCode="503" responseMode="File" path="error\serviceunavailable.html" />

      <!-- Redirect IIS 504 Gateway Timeout responses to a static Gateway Timeout page. -->
      <remove statusCode="504" />
      <error statusCode="504" responseMode="File" path="error\gatewaytimeout.html" />

    </httpErrors>
    
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>

    </mailSettings>
  </system.net>
  <sharpRepository>
    <repositories>
      <repository name="efRepository" connectionString="DefaultConnection" factory="SharpRepository.EfRepository.EfConfigRepositoryFactory, SharpRepository.EfRepository" />
    </repositories>
    <cachingProviders>
    </cachingProviders>
    <cachingStrategies>
      <cachingStrategy name="standardCachingStrategy" generational="true" writeThrough="true" factory="SharpRepository.Repository.Caching.StandardConfigCachingStrategyFactory, SharpRepository.Repository" />
      <cachingStrategy name="timeoutCachingStrategy" timeout="300" factory="SharpRepository.Repository.Caching.TimeoutConfigCachingStrategyFactory, SharpRepository.Repository" />
      <cachingStrategy name="noCaching" factory="SharpRepository.Repository.Caching.NoCachingConfigCachingStrategyFactory, SharpRepository.Repository" />
    </cachingStrategies>
  </sharpRepository>
</configuration>